In [1]:
from pathlib import Path
import sys

project_parent = Path('./').absolute().parent
sys.path.append(str(project_parent/'src'))
from dm import Country, util

D:\projects\demographic-modeling-module\src\dm\_modify_geoaccessor.py:31: UserWarning: registration of accessor <class 'dm._modify_geoaccessor.GeoAccessorIO'> under name 'spatial' for type <class 'pandas.core.frame.DataFrame'> is overriding a preexistingattribute with the same name.
  class GeoAccessorIO(GeoAccessor):

In [2]:
util.get_countries()

         geo_ref country  year
0  CAN_ESRI_2019     CAN  2019
1  USA_ESRI_2019     USA  2019

In [3]:
can = Country('CAN')

can

In [4]:
can.geographies

,geo_name,geo_alias,col_id,col_name,feature_class_path
0,disseminationareas,DisseminationAreas,ID,NAME,D:\ba_data\can\Data\Demographic Data\CAN_ESRI_...
1,censustracts,CensusTracts,ID,NAME,D:\ba_data\can\Data\Demographic Data\CAN_ESRI_...
2,fsas,FSAs,ID,NAME,D:\ba_data\can\Data\Demographic Data\CAN_ESRI_...
3,censussubdivisions,CensusSubdivisions,ID,NAME,D:\ba_data\can\Data\Demographic Data\CAN_ESRI_...
4,feds,FEDs,ID,NAME,D:\ba_data\can\Data\Demographic Data\CAN_ESRI_...
5,cmacas,CMACAs,ID,NAME,D:\ba_data\can\Data\Demographic Data\CAN_ESRI_...
6,censusdivisions,CensusDivisions,ID,NAME,D:\ba_data\can\Data\Demographic Data\CAN_ESRI_...
7,provinceterritories,ProvinceTerritories,ID,NAME,D:\ba_data\can\Data\Demographic Data\CAN_ESRI_...
8,country,Country,ID,NAME,D:\ba_data\can\Data\Demographic Data\CAN_ESRI_...

In [5]:
metro_df = can.cmacas.get('vancouver')

metro_df

    ID       NAME                                              SHAPE
0  933  Vancouver  {"rings": [[[-13680319.9921, 6289682.5854], [-...

In [6]:
lvl0_df = metro_df.level(0).get()

lvl0_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3442 entries, 0 to 3441
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      3442 non-null   object
 1   NAME    3442 non-null   object
 2   SHAPE   3442 non-null   geometry
dtypes: geometry(1), object(2)
memory usage: 80.8+ KB

In [7]:
lvl0_df.head()

         ID      NAME                                              SHAPE
0  59150369  59150369  {"rings": [[[-13700148.7313, 6317822.9978], [-...
1  59150370  59150370  {"rings": [[[-13700774.3468, 6317681.446099997...
2  59150373  59150373  {"rings": [[[-13701411.0943, 6317550.1294], [-...
3  59150375  59150375  {"rings": [[[-13701423.339499999, 6317002.7137...
4  59150376  59150376  {"rings": [[[-13701501.2631, 6316801.492200002...

In [8]:
lvl0_df.spatial.plot()

MapView(layout=Layout(height='400px', width='100%'))

In [9]:
e_vars = can.enrich_variables

e_vars

,name,alias,type,vintage,data_collection,enrich_str,enrich_field_name
0,A16AITFNAT,2016 First Nations Single Ident,COUNT,2016,AboriginalIdentity,AboriginalIdentity.A16AITFNAT,AboriginalIdentity_A16AITFNAT
1,A16AITIDT,2016 Aboriginal Identity,COUNT,2016,AboriginalIdentity,AboriginalIdentity.A16AITIDT,AboriginalIdentity_A16AITIDT
2,A16AITIDX,2016 Aboriginal Identities,COUNT,2016,AboriginalIdentity,AboriginalIdentity.A16AITIDX,AboriginalIdentity_A16AITIDX
3,A16AITINUK,2016 Inuk Single Identity,COUNT,2016,AboriginalIdentity,AboriginalIdentity.A16AITINUK,AboriginalIdentity_A16AITINUK
4,A16AITMETI,2016 Metis Single Identity,COUNT,2016,AboriginalIdentity,AboriginalIdentity.A16AITMETI,AboriginalIdentity_A16AITMETI
...,...,...,...,...,...,...,...
2568,P0YVISKOR,2029 VM: Korean,COUNT,2029,VisibleMinorityStatus,VisibleMinorityStatus.P0YVISKOR,VisibleMinorityStatus_P0YVISKOR
2569,P0YVISJAPA,2029 VM: Japanese,COUNT,2029,VisibleMinorityStatus,VisibleMinorityStatus.P0YVISJAPA,VisibleMinorityStatus_P0YVISJAPA
2570,P0YVISOVM,2029 VM: All Oth VM,COUNT,2029,VisibleMinorityStatus,VisibleMinorityStatus.P0YVISOVM,VisibleMinorityStatus_P0YVISOVM
2571,P0YVISMVM,2029 VM: Multiple VM,COUNT,2029,VisibleMinorityStatus,VisibleMinorityStatus.P0YVISMVM,VisibleMinorityStatus_P0YVISMVM
2572,P0YVISNVM,2029 VM: Not a Visible Minority,COUNT,2029,VisibleMinorityStatus,VisibleMinorityStatus.P0YVISNVM,VisibleMinorityStatus_P0YVISNVM

In [10]:
key_vars = e_vars[(e_vars.data_collection.str.startswith('Key')) & (e_vars.vintage == '2022')]

key_vars

,name,alias,type,vintage,data_collection,enrich_str,enrich_field_name
1413,P3YPTAPOP,2022 Total Population,COUNT,2022,KeyCanFacts,KeyCanFacts.P3YPTAPOP,KeyCanFacts_P3YPTAPOP
1414,P3YHFSCF,2022 Tot Census Fam HHs,COUNT,2022,KeyCanFacts,KeyCanFacts.P3YHFSCF,KeyCanFacts_P3YHFSCF
1415,P3YHSZAVG,2022 Private HHs Avg Num Persons,COUNT,2022,KeyCanFacts,KeyCanFacts.P3YHSZAVG,KeyCanFacts_P3YHSZAVG
1416,P3YHNIAVG,2022 HH Inc Average Curr$,CURRENCY,2022,KeyCanFacts,KeyCanFacts.P3YHNIAVG,KeyCanFacts_P3YHNIAVG
1417,P3YHNIMED,2022 HH Inc Median Curr$,CURRENCY,2022,KeyCanFacts,KeyCanFacts.P3YHNIMED,KeyCanFacts_P3YHNIMED
1418,P3YTENHHD,2022 Tenure - Total HHs,COUNT,2022,KeyCanFacts,KeyCanFacts.P3YTENHHD,KeyCanFacts_P3YTENHHD
1419,P3YTENOWN,2022 Tenure - Owned,COUNT,2022,KeyCanFacts,KeyCanFacts.P3YTENOWN,KeyCanFacts_P3YTENOWN
1420,P3YTENRENT,2022 Tenure - Rented,COUNT,2022,KeyCanFacts,KeyCanFacts.P3YTENRENT,KeyCanFacts_P3YTENRENT
1421,P3YTENBAND,2022 Tenure - Band Housing,COUNT,2022,KeyCanFacts,KeyCanFacts.P3YTENBAND,KeyCanFacts_P3YTENBAND

In [11]:
enrich_vars = key_vars.enrich_str

enrich_vars

1413     KeyCanFacts.P3YPTAPOP
1414      KeyCanFacts.P3YHFSCF
1415     KeyCanFacts.P3YHSZAVG
1416     KeyCanFacts.P3YHNIAVG
1417     KeyCanFacts.P3YHNIMED
1418     KeyCanFacts.P3YTENHHD
1419     KeyCanFacts.P3YTENOWN
1420    KeyCanFacts.P3YTENRENT
1421    KeyCanFacts.P3YTENBAND
Name: enrich_str, dtype: object

In [12]:
lvl0_enrich_df = lvl0_df.spatial.enrich(enrich_vars)

lvl0_enrich_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3442 entries, 0 to 3441
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      3442 non-null   object
 1   NAME                    3442 non-null   object
 2   KeyCanFacts_P3YPTAPOP   3442 non-null   float64
 3   KeyCanFacts_P3YHFSCF    3442 non-null   float64
 4   KeyCanFacts_P3YHSZAVG   3442 non-null   float64
 5   KeyCanFacts_P3YHNIAVG   3442 non-null   float64
 6   KeyCanFacts_P3YHNIMED   3442 non-null   float64
 7   KeyCanFacts_P3YTENHHD   3442 non-null   float64
 8   KeyCanFacts_P3YTENOWN   3442 non-null   float64
 9   KeyCanFacts_P3YTENRENT  3442 non-null   float64
 10  KeyCanFacts_P3YTENBAND  3442 non-null   float64
 11  SHAPE                   3442 non-null   geometry
dtypes: float64(9), geometry(1), object(2)
memory usage: 322.8+ KB

In [13]:
lvl0_enrich_df.head()

,ID,NAME,KeyCanFacts_P3YPTAPOP,KeyCanFacts_P3YHFSCF,KeyCanFacts_P3YHSZAVG,KeyCanFacts_P3YHNIAVG,KeyCanFacts_P3YHNIMED,KeyCanFacts_P3YTENHHD,KeyCanFacts_P3YTENOWN,KeyCanFacts_P3YTENRENT,KeyCanFacts_P3YTENBAND,SHAPE
0,59150369,59150369,596.0,148.0,2.6,90408.28,71666.67,225.0,116.0,109.0,0.0,"{""rings"": [[[-13700148.7313, 6317822.9978], [-..."
1,59150370,59150370,1498.0,393.0,2.1,93374.01,82450.98,705.0,357.0,348.0,0.0,"{""rings"": [[[-13700774.3468, 6317681.446099997..."
2,59150373,59150373,767.0,201.0,3.0,148982.53,117672.41,253.0,199.0,54.0,0.0,"{""rings"": [[[-13701411.0943, 6317550.1294], [-..."
3,59150375,59150375,507.0,130.0,3.0,141579.89,102343.75,167.0,115.0,52.0,0.0,"{""rings"": [[[-13701423.339499999, 6317002.7137..."
4,59150376,59150376,497.0,128.0,2.9,130564.61,101973.68,173.0,100.0,73.0,0.0,"{""rings"": [[[-13701501.2631, 6316801.492200002..."

In [14]:
lvl0_enrich_df.spatial.to_parquet('../data/interim/vancouver_lvl0_enrich.parquet')

In [15]:
lvl0_fc = '../data/interim/interim.gdb/vancouver_lvl0_enrich'
lvl0_enrich_df.spatial.to_featureclass(lvl0_fc)
util.add_enrich_aliases(lvl0_fc, can)